OPENCLI_MCP_HOST=127.0.0.1
OPENCLI_MCP_PORT=8787
OPENCLI_MCP_KEY=local-dev-key
OPENCLI_MCP_SINGLE_CLIENT=0

OPENCLI_API_BASE=http://10.16.65.106:7777
OPENCLI_AUTH_API_BASE=http://10.16.65.106:7776
OPENCLI_ROUTER_API_BASE=http://10.16.65.106:7780

OPENCLI_BACKEND_TOKEN=
OPENCLI_USER_ID=
OPENCLI_USERNAME=
OPENCLI_ORDINARY=1
OPENCLI_DISTURB=0
